@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcf8f0;
  color: #5a4b41;
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}